body {
  margin: 0px;
  background-color: #1C1B1B;
  user-select: none;
  font-family: Helvetica;
}

button {
  cursor: pointer;
}

#header_container {
  visibility: visible;
  height: 16vh; /*16vh*/
  margin: 0px;
  padding: 0px;
}

#banner {
  height: 100%;
  background-color: #FFD435;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1 {
  font-size: 5vh;
  color: #08507B;
}

#menu {
  visibility: visible;
  position: sticky;
  background-color: #08507B;
  height: 6vh; /*6vh*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  top: 0px;
}

.menu_button:not(.active) {
  height: 100%;
  padding: 0vh 3vh 0vh 3vh;
  color: #FFFFFF;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #08507B;
  font-weight: bold;
  font-size: 2.3vh;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.active {
  height: 100%;
  padding: 0vh 3vh 0vh 3vh;
  color: #08507B;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #EEEEEE;
  font-weight: bold;
  font-size: 2.3vh;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.menu_button:hover:not(.active) {
  background-color: #053754;
}

#clientNumContainer {
  height: 100%;
  padding: 0vh 3vh 0vh 3vh;
  color: #FFFFFF;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #08507B;
  font-weight: bold;
  font-size: 2.3vh;
  transition: 0.3s;
  text-decoration: none;
  position: absolute;
  right: 0vh;
}

#clientNum {
  margin: 2vh;
}

#page_content {
  min-height: 60vh;
  background-color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0vh 10vh 0vh;
}

#chart {
    width: 800;
    height: 800;
}

#result_container {
  margin-top: -8vh;
}

#client_container {
  display: flex;
  border: 1px solid black;
  padding: 0.2vh;
  flex-flow: column wrap;
}

#question_display{
  display: flex;
  padding: 3vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid black;
}

#button_container {
  display: flex;
  padding: 0.2vh;
  flex-flow: row wrap;
  max-width: 44vh;
  padding: 1vh;
}

.client_button {
  width: 20vh;
  height: 20vh;
  margin: 1vh;
  background-color: red;
  cursor: pointer;
}

.client_button:hover {
  opacity: 0.6;
  transition: 0.25s;
}

select {
  cursor: pointer;
}

#quiz_container {
  display: flex;
  flex-flow: column;
}

#initial_container, #question_container, #question_adder, #question_spec {
  margin: 3vh;
} 

.alt_input, #question {
  margin: 1vh;
}

#question_spec {
  display: flex;
  flex-flow: column;
}

#session_container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: -5vh
}

h2 {
  font-size: 5vh;
  color: #404040;
}

#session_question_container {
  display: flex;
  padding: 0.2vh;
  flex-flow: column wrap;
}

#session_header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 2vh;
}

#next_question {
  padding: 1vh;
  margin-left: 3vh;
  position: relative;
  min-width: 8vh;
}

#session_question_display {
  font-size: 4vh;
  color: #404040;
  display: flex;
  padding: 3vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#session_alt_container {
  display: flex;
  padding: 0.2vh;
  flex-flow: row wrap;
  max-width: 75vh;
  padding: 1vh;
}

.session_alts {
  font-size: 3vh;
  color: #404040;
  width: 35vh;
  height: 20vh;
  margin: 1vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#team_container {
  visibility: hidden;
  max-height: 0vh;
  background-color: red;
}

#footer_container {
  padding: 010vh 0vh 10vh 0vh;
  background-color: #201A1A;
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright {
  background-color: #2E2828;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
  color: #908A8A;
  font-family: Helvetica;
  font-size: 2.3vh;
}
  